In [62]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np
import seaborn as sns
from lxml import etree

In [63]:
df = pd.read_parquet("./../../../resulting data/verses_features.parquet")

In [64]:
df.head()

,bible_identifier,bible_book,bible_chapter,bible_book_chapter,genre,twitter_freq_sum_2014_2015,twitter_freq_2014,twitter_freq_2015,relations,monogamy,...,#org35,#org439,#pla65,#pla68,#per116,#per119,#pla67,#org52,#per129,#pla74
0,b.GEN.001.001,GEN,001,GEN.001,historical,49268,26376,22892,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,b.GEN.001.002,GEN,001,GEN.001,historical,8601,3693,4908,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,b.GEN.001.003,GEN,001,GEN.001,historical,20970,8816,12154,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,b.GEN.001.004,GEN,001,GEN.001,historical,4222,2286,1936,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,b.GEN.001.005,GEN,001,GEN.001,historical,3208,1666,1542,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [65]:
df.shape

(31065, 4167)

In [66]:
df["bible_book"].unique()

array(['GEN', 'EXO', 'LEV', 'NUM', 'DEU', 'JOS', 'JDG', 'RUT', '1SA',
       '2SA', '1KI', '2KI', '1CH', '2CH', 'EZR', 'NEH', 'EST', 'JOB',
       'PSA', 'PRO', 'ECC', 'SON', 'ISA', 'LAM', 'JER', 'EZE', 'DAN',
       'HOS', 'JOE', 'AMO', 'OBA', 'JON', 'MIC', 'NAH', 'HAB', 'ZEP',
       'HAG', 'ZEC', 'MAL', 'MAT', 'MAR', 'LUK', 'JOH', 'ACT', 'ROM',
       '1CO', '2CO', 'GAL', 'EPH', 'PHI', 'COL', '1TH', '2TH', '1TI',
       '2TI', 'TIT', 'PHM', 'HEB', 'JAM', '1PE', '2PE', '1JO', '2JO',
       '3JO', 'JUD', 'REV'], dtype=object)

In [67]:
#df.fillna(0, inplace=True)

In [68]:
df.columns.tolist()[0:10]

['bible_identifier',
 'bible_book',
 'bible_chapter',
 'bible_book_chapter',
 'genre',
 'twitter_freq_sum_2014_2015',
 'twitter_freq_2014',
 'twitter_freq_2015',
 'relations',
 'monogamy']

In [69]:
structural_features = df.columns.tolist()[265:297]

In [70]:
sexual_features = df.columns.tolist()[8:262]

In [71]:
len(df)

31065

In [72]:
entities_features = df.columns.tolist()[262:265] + df.columns.tolist()[298:len(df)]

In [73]:
df.loc[df["bible_identifier"] == "b.SON.001.010"]["#per39"]

17547    1.0
Name: #per39, dtype: float64

In [74]:
df.describe()

,twitter_freq_sum_2014_2015,twitter_freq_2014,twitter_freq_2015,relations,monogamy,poligamy,marriage,second-marriage,second-marriage-divorce,second-marriage-widow,...,#org35,#org439,#pla65,#pla68,#per116,#per119,#pla67,#org52,#per129,#pla74
count,31065.000000,31065.000000,31065.000000,31065.000000,31065.000000,31065.000000,31065.000000,31065.000000,31065.0,31065.000000,...,8.00000,2.0,1.0,1.0,1.0,1.0,1.0,23.000000,1.0,1.0
mean,2286.298793,1366.727797,919.570996,0.000225,0.000193,0.000515,0.001610,0.000064,0.0,0.000032,...,1.62500,1.0,1.0,1.0,2.0,3.0,1.0,1.173913,4.0,1.0
std,12282.503644,8274.810650,4428.844891,0.015010,0.013896,0.022689,0.040087,0.008024,0.0,0.005674,...,1.06066,0.0,NaN,NaN,NaN,NaN,NaN,0.491026,NaN,NaN
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,...,1.00000,1.0,1.0,1.0,2.0,3.0,1.0,1.000000,4.0,1.0
25%,72.000000,32.000000,37.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,...,1.00000,1.0,1.0,1.0,2.0,3.0,1.0,1.000000,4.0,1.0
50%,239.000000,115.000000,117.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,...,1.00000,1.0,1.0,1.0,2.0,3.0,1.0,1.000000,4.0,1.0
75%,941.000000,507.000000,415.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,...,2.00000,1.0,1.0,1.0,2.0,3.0,1.0,1.000000,4.0,1.0
max,875311.000000,613161.000000,262150.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.0,1.000000,...,4.00000,1.0,1.0,1.0,2.0,3.0,1.0,3.000000,4.0,1.0

In [75]:
#rel_books_df = books_df.div(books_df["number of verses"], axis="index")

In [76]:
entities_df = pd.read_excel("./../../../entities.xls")

In [77]:
entities_df.index = entities_df["id"]

In [78]:
df.index = df["bible_identifier"]

In [79]:
#bible_tree = etree.parse().getroot()

parser = etree.XMLParser(encoding = 'utf-8')
documento_xml_bible = etree.parse('./../../../sexual-annotation/TEIBible.xml', parser)
documento_root_bible = documento_xml_bible.getroot()
specific_namespaces = {'tei':'http://www.tei-c.org/ns/1.0','xi':'http://www.w3.org/2001/XInclude'}

# Visualizations

In [80]:
[feature for feature in sexual_features if "aspect" in feature]

['blessed-aspect',
 'positive-aspect',
 'neutral-aspect',
 'negative-aspect',
 'condemned-aspect']

In [81]:
[feature for feature in sexual_features if "ascendant" in feature]

['ascendant-descendant', 'indirect-ascendant-descendant']

In [82]:
df.fillna(0, inplace = True )

In [83]:
verses_without_polarity_df = df.loc[(df[sexual_features].sum(axis = 1) >= 1) & (df[['blessed-aspect',
 'positive-aspect',
 'neutral-aspect',
 'negative-aspect',
 'condemned-aspect']].sum(axis = 1) == 0) ]

In [85]:
verses_without_polarity_df

,bible_identifier,bible_book,bible_chapter,bible_book_chapter,genre,twitter_freq_sum_2014_2015,twitter_freq_2014,twitter_freq_2015,relations,monogamy,...,#org35,#org439,#pla65,#pla68,#per116,#per119,#pla67,#org52,#per129,#pla74
bible_identifier,,,,,,,,,,,,,,,,,,,,,
b.GEN.004.002,b.GEN.004.002,GEN,004,GEN.004,historical,922,396,526,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
b.GEN.005.003,b.GEN.005.003,GEN,005,GEN.005,historical,544,261,283,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
b.GEN.005.007,b.GEN.005.007,GEN,005,GEN.005,historical,446,202,244,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
b.GEN.005.010,b.GEN.005.010,GEN,005,GEN.005,historical,363,176,187,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
b.GEN.005.012,b.GEN.005.012,GEN,005,GEN.005,historical,418,203,215,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
b.REV.014.004,b.REV.014.004,REV,014,REV.014,apocalyptic,856,484,372,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
b.REV.014.008,b.REV.014.008,REV,014,REV.014,apocalyptic,842,467,375,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
b.REV.016.015,b.REV.016.015,REV,016,REV.016,apocalyptic,1706,892,814,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
b.REV.017.003,b.REV.017.003,REV,017,REV.017,apocalyptic,784,350,434,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
b.REV.019.016,b.REV.019.016,REV,019,REV.019,apocalyptic,6978,2739,4239,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [57]:
df.loc["b.GEN.005.003"][['blessed-aspect',
 'positive-aspect',
 'neutral-aspect',
 'negative-aspect',
 'condemned-aspect']].sum()

0

In [59]:
df.loc["b.GEN.005.003"][sexual_features].sum()

1

In [61]:
df.loc[(df[sexual_features].sum(axis = 1) >= 1) & (df[['blessed-aspect',
 'positive-aspect',
 'neutral-aspect',
 'negative-aspect',
 'condemned-aspect']].sum(axis = 1) == 0) ]

,bible_identifier,bible_book,bible_chapter,bible_book_chapter,genre,twitter_freq_sum_2014_2015,twitter_freq_2014,twitter_freq_2015,relations,monogamy,...,#org35,#org439,#pla65,#pla68,#per116,#per119,#pla67,#org52,#per129,#pla74
bible_identifier,,,,,,,,,,,,,,,,,,,,,
b.GEN.004.002,b.GEN.004.002,GEN,004,GEN.004,historical,922,396,526,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
b.GEN.004.018,b.GEN.004.018,GEN,004,GEN.004,historical,928,638,290,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
b.GEN.004.020,b.GEN.004.020,GEN,004,GEN.004,historical,1468,903,565,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
b.GEN.004.022,b.GEN.004.022,GEN,004,GEN.004,historical,612,296,316,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
b.GEN.004.026,b.GEN.004.026,GEN,004,GEN.004,historical,1033,479,554,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
b.REV.014.004,b.REV.014.004,REV,014,REV.014,apocalyptic,856,484,372,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
b.REV.014.008,b.REV.014.008,REV,014,REV.014,apocalyptic,842,467,375,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
b.REV.016.015,b.REV.016.015,REV,016,REV.016,apocalyptic,1706,892,814,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
b.REV.017.003,b.REV.017.003,REV,017,REV.017,apocalyptic,784,350,434,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
b.REV.019.016,b.REV.019.016,REV,019,REV.019,apocalyptic,6978,2739,4239,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [48]:
verses_without_polarity_df

,bible_identifier,bible_book,bible_chapter,bible_book_chapter,genre,twitter_freq_sum_2014_2015,twitter_freq_2014,twitter_freq_2015,relations,monogamy,...,#org35,#org439,#pla65,#pla68,#per116,#per119,#pla67,#org52,#per129,#pla74
bible_identifier,,,,,,,,,,,,,,,,,,,,,
b.GEN.004.002,b.GEN.004.002,GEN,004,GEN.004,historical,922,396,526,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
b.GEN.004.018,b.GEN.004.018,GEN,004,GEN.004,historical,928,638,290,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
b.GEN.004.020,b.GEN.004.020,GEN,004,GEN.004,historical,1468,903,565,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
b.GEN.004.022,b.GEN.004.022,GEN,004,GEN.004,historical,612,296,316,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
b.GEN.004.026,b.GEN.004.026,GEN,004,GEN.004,historical,1033,479,554,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
b.REV.002.022,b.REV.002.022,REV,002,REV.002,apocalyptic,1277,574,703,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
b.REV.012.002,b.REV.012.002,REV,012,REV.012,apocalyptic,1477,703,774,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
b.REV.012.005,b.REV.012.005,REV,012,REV.012,apocalyptic,1679,797,882,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
b.REV.012.013,b.REV.012.013,REV,012,REV.012,apocalyptic,1210,459,751,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
b.REV.014.004,b.REV.014.004,REV,014,REV.014,apocalyptic,856,484,372,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [38]:
verses_without_polarity_df.index.tolist()

['b.GEN.004.002',
 'b.GEN.004.018',
 'b.GEN.004.020',
 'b.GEN.004.022',
 'b.GEN.004.026',
 'b.GEN.006.002',
 'b.GEN.006.004',
 'b.GEN.010.001',
 'b.GEN.011.029',
 'b.GEN.015.004',
 'b.GEN.017.026',
 'b.GEN.019.036',
 'b.GEN.019.037',
 'b.GEN.019.038',
 'b.GEN.021.001',
 'b.GEN.021.002',
 'b.GEN.022.020',
 'b.GEN.022.023',
 'b.GEN.022.024',
 'b.GEN.024.014',
 'b.GEN.024.015',
 'b.GEN.024.016',
 'b.GEN.024.017',
 'b.GEN.024.018',
 'b.GEN.024.019',
 'b.GEN.024.020',
 'b.GEN.024.022',
 'b.GEN.024.030',
 'b.GEN.024.032',
 'b.GEN.024.035',
 'b.GEN.024.043',
 'b.GEN.024.044',
 'b.GEN.024.045',
 'b.GEN.024.046',
 'b.GEN.024.054',
 'b.GEN.024.063',
 'b.GEN.024.064',
 'b.GEN.025.002',
 'b.GEN.025.012',
 'b.GEN.025.020',
 'b.GEN.025.021',
 'b.GEN.025.023',
 'b.GEN.025.024',
 'b.GEN.025.026',
 'b.GEN.029.017',
 'b.GEN.029.025',
 'b.GEN.029.028',
 'b.GEN.029.031',
 'b.GEN.030.016',
 'b.GEN.030.017',
 'b.GEN.030.025',
 'b.GEN.033.004',
 'b.GEN.034.001',
 'b.GEN.034.008',
 'b.GEN.034.009',
 'b.GEN.034.012',
 'b.GEN.035.025',
 'b.GEN.035.026',
 'b.GEN.036.002',
 'b.GEN.036.003',
 'b.GEN.036.004',
 'b.GEN.036.005',
 'b.GEN.036.010',
 'b.GEN.036.011',
 'b.GEN.036.012',
 'b.GEN.036.013',
 'b.GEN.036.014',
 'b.GEN.036.017',
 'b.GEN.036.018',
 'b.GEN.036.039',
 'b.GEN.046.015',
 'b.GEN.046.018',
 'b.GEN.046.020',
 'b.GEN.046.025',
 'b.GEN.046.026',
 'b.GEN.048.010',
 'b.RUT.001.011',
 'b.RUT.001.012',
 'b.RUT.002.002',
 'b.SON.002.001',
 'b.SON.002.002',
 'b.MAT.001.018',
 'b.MAT.001.019',
 'b.MAT.001.021',
 'b.MAT.001.023',
 'b.MAT.001.025',
 'b.MAT.005.032',
 'b.MAT.006.023',
 'b.MAT.006.025',
 'b.MAT.009.020',
 'b.MAT.009.021',
 'b.MAT.009.022',
 'b.MAT.011.011',
 'b.MAT.014.006',
 'b.MAT.018.008',
 'b.MAT.018.009',
 'b.MAT.019.004',
 'b.MAT.019.005',
 'b.MAT.019.006',
 'b.MAT.019.009',
 'b.MAT.019.010',
 'b.MAT.019.012',
 'b.MAT.022.024',
 'b.MAT.022.025',
 'b.MAT.022.026',
 'b.MAT.022.028',
 'b.MAT.022.029',
 'b.MAT.022.030',
 'b.MAT.025.001',
 'b.MAT.025.005',
 'b.MAT.025.006',
 'b.MAT.025.008',
 'b.MAT.025.010',
 'b.MAT.025.011',
 'b.MAT.025.012',
 'b.MAT.025.013',
 'b.MAT.026.007',
 'b.JOH.004.007',
 'b.JOH.004.009',
 'b.JOH.004.010',
 'b.JOH.004.011',
 'b.JOH.011.002',
 'b.1CO.006.012',
 'b.1CO.006.013',
 'b.1CO.006.015',
 'b.1CO.006.016',
 'b.1CO.007.003',
 'b.1CO.007.004',
 'b.1CO.007.011',
 'b.1CO.007.012',
 'b.1CO.007.013',
 'b.1CO.007.014',
 'b.1CO.007.015',
 'b.1CO.007.018',
 'b.1CO.007.020',
 'b.1CO.007.039',
 'b.1CO.010.023',
 'b.1CO.010.024',
 'b.1CO.010.031',
 'b.1CO.011.003',
 'b.1CO.011.004',
 'b.1CO.011.005',
 'b.1CO.011.006',
 'b.1CO.011.007',
 'b.1CO.011.008',
 'b.1CO.011.009',
 'b.1CO.011.010',
 'b.1CO.011.011',
 'b.1CO.011.012',
 'b.1CO.011.013',
 'b.1CO.011.014',
 'b.1CO.011.015',
 'b.1CO.012.023',
 'b.1CO.013.003',
 'b.1CO.014.034',
 'b.1CO.014.035',
 'b.REV.002.022',
 'b.REV.012.002',
 'b.REV.012.005',
 'b.REV.012.013',
 'b.REV.014.004']

In [22]:
xml_ids_lt = documento_root_bible.xpath('//tei:ab//@xml:id', namespaces = specific_namespaces, with_tail = True)

In [23]:
xml_ids_lt[0:10]

['b.2CO.001.001',
 'b.2CO.001.002',
 'b.2CO.001.003',
 'b.2CO.001.004',
 'b.2CO.001.005',
 'b.2CO.001.006',
 'b.2CO.001.007',
 'b.2CO.001.008',
 'b.2CO.001.009',
 'b.2CO.001.010']

In [36]:
s = input()

In [37]:
s

'a'

In [45]:
complete_str = ""

for verse_id in verses_without_polarity_df.index:

    print(verse_id)
    verse_text = "".join(documento_root_bible.xpath('//tei:ab[@xml:id = "' + verse_id+ '"]//text()', namespaces = specific_namespaces, with_tail = True))
    annotation = input(verse_id + verse_text)
    if annotation != "":
        complete_str += '<spanGrp type="theme" inst="#' + verse_id + '>\n<span ana="' + annotation + '-aspect">\n<certainty match="@ana" locus="value" cert="high" given="text"/>\n</span>\n</spanGrp>'

b.GEN.004.002
b.GEN.004.018

KeyboardInterrupt:

In [42]:
complete_str

'<spanGrp type="theme" inst="#b.GEN.004.002>\n        \t<span ana=" positive-aspect">\n\t\t        <certainty match="@ana" locus="value" cert="high" given="text"/>\n        \t</span>\n        </spanGrp>\n        <spanGrp type="theme" inst="#b.GEN.004.018>\n        \t<span ana=" neutral-aspect">\n\t\t        <certainty match="@ana" locus="value" cert="high" given="text"/>\n        \t</span>\n        </spanGrp>\n        '

In [ ]:
xml_ids_lt

In [38]:
    print()